* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  background-color: #010101;
}

header {
  display: grid;
  grid-template-columns: repeat(2, 100%);
  grid-template-rows: 100%;
  grid-column: 1/3;
  grid-row: 1/2;
}

.bg-light {
  background-color: #212020 !important;
}

.bg-black {
  background-color: #010101 !important;
}

.navbar-brand {
  font-size: 16px;
  font-family: poppins;
}

.navBarStyle {
  font-size: 14px;
  font-family: fontFamily1;
}

.navbar-dark .navbar-nav .nav-link {
  color: #8A8A8A;
}

.bg-black {
  height: 100%;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.offcanvas-title {
  color: #010101;
}

a {
  text-decoration: none;
  color: #FEFEFE;
  font-family: poppins;
}

ul {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 100%;
  list-style: none;
}

main {
  display: grid;
  grid-column: 1/3;
  grid-row: 2/3;
}

article {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

footer {
  z-index: 10;
  grid-column: 1/3;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  align-items: end;
  font-family: poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  color: #8A8A8A;
  background-color: #212020;
}

.rigthFooter {
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #010101;
}

.nav-link, .navbar-dark {
  color: #8A8A8A;
  font-family: poppins;
  font-size: 14px;
}

.leftContent {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 15% 15% auto;
  background-color: #212020;
  align-items: center;
  align-content: space-evenly;
}

.leftContentContact {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% auto;
  background-color: #212020;
  align-items: center;
  justify-items: center;
}

.mainTittle {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  color: #FEFEFE;
  width: 366px;
  height: 70px;
  margin-left: 121px;
  line-height: 65px;
}

.mainTittleAbout {
  color: #9E1010;
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  height: 11px;
  line-height: 65px;
  margin-left: 121px;
}

.mainTittleProjects {
  color: #FAFF00;
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  height: 11px;
  line-height: 65px;
}

.mainTittleEducation {
  color: #001EBA;
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  height: 11px;
  line-height: 65px;
}

.mainTittleContact {
  color: #EBB1FF;
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  height: 11px;
  line-height: 65px;
}

.mainSubtittle {
  width: 254px;
  height: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #CFCFCF;
  margin-left: 121px;
}

.mainSubtittleAbout {
  color: #FFA0A0;
  width: 254px;
  height: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  margin-left: 121px;
}

.mainSubtittleProjects {
  color: #FAFF00;
  width: 287px;
  height: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  margin-left: 121px;
}

.mainSubtittleEducation {
  width: 254px;
  height: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #00b7ff;
  margin-left: 121px;
}

.mainText {
  margin-left: 121px;
  font-family: Poppins;
  line-height: 29px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #CFCFCF;
  width: 460px;
  text-align: justify;
}

.mainTextAbout {
  color: #FFA0A0;
  margin-left: 121px;
  font-family: Poppins;
  line-height: 29px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  width: 460px;
  text-align: justify;
}

.mainTextProjects {
  color: #ff8800;
  margin-left: 121px;
  font-family: Poppins;
  line-height: 29px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  width: 460px;
  text-align: justify;
}

.mainTextEducation {
  color: #B3B1FF;
  margin-left: 121px;
  font-family: Poppins;
  line-height: 29px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  width: 460px;
  text-align: justify;
}

.buton {
  display: flex;
  justify-content: center;
}

.portfolio {
  background-color: #FEFEFE;
  border-radius: 50px;
  width: 176px;
  height: 63px;
  border: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #010101;
  margin-right: 22px;
}

.ListProjects {
  display: flex;
  flex-direction: column;
  margin-left: 270px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  height: 100px;
  justify-content: space-around;
}

.form-contact {
  width: 500px;
  height: 480px;
  margin-top: 15%;
  background-color: #010101;
  margin-left: 127px;
  padding: 30px;
  border-radius: 4px;
  font-family: Poppins;
  box-shadow: 7px 13px 37px black;
}

.form-contact h4 {
  font-size: 26px;
  margin-bottom: 30px;
  color: #EBB1FF;
  text-align: center;
}

.controls {
  width: 100%;
  height: 60px;
  text-align: center;
  margin-bottom: 15px;
  border-radius: 4px;
  background-color: #212020;
  font-size: 18px;
  border-color: #EBB1FF;
}

.butons {
  width: 100%;
  border: none;
  padding: 12px;
  margin-top: 30px;
  font-size: 16px;
  color: #010101;
  background-color: #EBB1FF;
}

.curriculum {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #FEFEFE;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  margin-left: 22px;
}

.rightContent {
  display: grid;
  align-content: center;
  justify-content: space-around;
  margin-top: 10%;
}

.gridCertificates {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  justify-items: center;
}

.google1 {
  display: grid;
  background-image: url(../Images/certificado-google-html-1.jpg);
  grid-column: 1/2;
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 200px;
}

.google2 {
  display: grid;
  background-image: url(../Images/certificado-google-html-2.jpg);
  grid-column: 2/3;
  width: 300px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}

.mydiv {
  display: flex;
  position: relative;
  margin: 10% auto 0;
  width: 450px;
  height: 714px;
  background-image: url(../Images/hero-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.animate-bg:before,
.animate-bg:after {
  content: "";
  position: absolute;
  left: -3px;
  top: -3px;
  background: linear-gradient(120deg, black, white, gray);
  background-size: 300%;
  width: calc(100% + 6px);
  height: calc(100% + 3px);
  z-index: -1;
  animation: BGgradient 10s infinite;
}

.mydivAbout {
  display: flex;
  position: relative;
  margin: 10% auto 0;
  width: 450px;
  height: 714px;
  background-image: url(../Images/about.png);
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  background-position: center;
}

.animate-bgAbout:before,
.animate-bgAbout:after {
  content: "";
  position: absolute;
  left: -3px;
  top: -3px;
  background: linear-gradient(120deg, red, white, #f08888);
  background-size: 300%;
  width: calc(100% + 6px);
  height: calc(100% + 3px);
  z-index: -1;
  animation: BGgradient 10s infinite;
}

.mydivProjects {
  display: flex;
  position: relative;
  margin: 10% auto 0;
  width: 450px;
  height: 714px;
  background-image: url(../Images/projects.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.animate-bgProjects:before,
.animate-bgProjects:after {
  content: "";
  position: absolute;
  left: -3px;
  top: -3px;
  background: linear-gradient(120deg, white, #ffee00, #ff1e1e);
  background-size: 300%;
  width: calc(100% + 6px);
  height: calc(100% + 3px);
  z-index: -1;
  animation: BGgradient 10s infinite;
}

.mydivEducation {
  display: flex;
  position: relative;
  margin: 10% auto 0;
  width: 450px;
  height: 714px;
  background-image: url(../Images/education.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.animate-bgEducation:before,
.animate-bgEducation:after {
  content: "";
  position: absolute;
  left: -3px;
  top: -3px;
  background: linear-gradient(120deg, #0400ff, white, #00a2ff);
  background-size: 300%;
  width: calc(100% + 6px);
  height: calc(100% + 3px);
  z-index: -1;
  animation: BGgradient 10s infinite;
}

.mydivContact {
  display: flex;
  position: relative;
  margin: 10% auto 0;
  width: 450px;
  height: 714px;
  background-image: url(../Images/contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  background-position: center;
}

.animate-bgContact:before,
.animate-bgContact:after {
  content: "";
  position: absolute;
  left: -3px;
  top: -3px;
  background: linear-gradient(120deg, #ef43ff, white, fuchsia);
  background-size: 300%;
  width: calc(100% + 6px);
  height: calc(100% + 3px);
  z-index: -1;
  animation: BGgradient 10s infinite;
}

@keyframes BGgradient {
  0% {
    background-position: 0% 200%;
  }
  50% {
    background-position: 200% 0%;
  }
  100% {
    background-position: 0% 330%;
  }
}
.animate-bg:after {
  filter: blur(15px);
}

.animate-bgAbout:after {
  filter: blur(15px);
}

.animate-bgProjects:after {
  filter: blur(15px);
}

.animate-bgEducation:after {
  filter: blur(15px);
}

.animate-bgContact:after {
  filter: blur(15px);
}

.socialMedia {
  z-index: 30;
  width: 177px;
  height: 59px;
  display: flex;
  padding-bottom: 50px;
  padding-right: 30px;
}

.git {
  background-image: url(../social-media/bxl-github.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 59px;
  height: 59px;
}

.linkedin {
  width: 59px;
  height: 59px;
  background-image: url(../social-media/bxl-linkedin.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.whatsapp {
  width: 59px;
  height: 59px;
  background-image: url(../social-media/bxl-whatsapp.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.luzHome:hover {
  color: #FEFEFE !important;
}

.luzAbout:hover {
  color: #9E1010 !important;
}

.luzProjects:hover {
  color: #FAFF00 !important;
}

.luzEducation:hover {
  color: #001EBA !important;
}

.luzContact:hover {
  color: #EBB1FF !important;
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
  body {
    background-color: #010101;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
    width: 100vw;
  }

  .bg-black {
    background-color: transparent !important;
  }

  header {
    display: flex;
    background-color: #212020;
    width: 100%;
  }

  nav {
    display: grid;
    width: 100%;
  }

  main {
    display: grid;
  }

  article {
    display: grid;
    grid-template-rows: repeat(2, 50%);
    grid-template-columns: 100%;
  }

  footer {
    display: grid;
    z-index: -4;
    width: 100%;
    grid-column: 1/2;
    grid-row: 3/4;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    align-items: end;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5);
    background-color: #010101;
  }

  .rigthFooter {
    display: none;
  }

  .leftContent {
    display: flex;
    flex-direction: column;
    background-color: #212020;
    justify-content: space-evenly;
  }

  .leftContentContact {
    display: flex;
    flex-direction: column;
    background-color: #212020;
  }

  .mainTittle {
    width: 280px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
    color: #FEFEFE;
    margin-left: 0px;
  }

  .mainTittleAbout {
    width: 280px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
    color: #9E1010;
    margin-left: 0px;
  }

  .mainTittleProjects {
    width: 280px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
    margin-left: 0px;
  }

  .mainTittleEducation {
    width: 280px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
    margin-left: 0px;
  }

  .mainTittleContact {
    width: 280px;
    height: 23px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    margin-left: 0px;
  }

  .mainSubtittle {
    width: 260px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin-left: 0px;
  }

  .mainSubtittleAbout {
    width: 260px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin-left: 0px;
  }

  .mainSubtittleProjects {
    width: 260px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin-left: 0px;
  }

  .mainSubtittleEducation {
    width: 260px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin-left: 0px;
  }

  .mainText {
    width: 278px;
    margin-left: 0px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 180.3%;
    text-align: justify;
    color: #CFCFCF;
  }

  .mainTextAbout {
    width: 278px;
    margin-left: 0px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 180.3%;
    text-align: justify;
  }

  .mainTextProjects {
    width: 278px;
    margin-left: 0px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 180.3%;
    text-align: justify;
  }

  .form-contact h4 {
    font-size: 14px;
    margin-bottom: 0px;
  }

  .controls {
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    font-size: 10px;
  }

  .butons {
    margin-top: 5px;
    font-size: 13px;
    height: 30px;
  }

  .mainTextEducation {
    width: 278px;
    margin-left: 0px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 180.3%;
    text-align: justify;
  }

  .form-contact {
    width: 250px;
    height: 280px;
    margin-left: 0px;
    margin-top: 0;
    padding: 15px;
  }

  .ListProjects {
    margin-left: 0px;
    align-items: center;
    justify-content: space-around;
  }

  .google1 {
    width: 150px;
    height: 100px;
  }

  .google2 {
    width: 150px;
    height: 100px;
  }

  .buton {
    display: flex;
    justify-content: center;
  }

  .portfolio {
    background-color: #FEFEFE;
    border-radius: 50px;
    border: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 27px;
    color: #010101;
    width: 118px;
    height: 42px;
  }

  .curriculum {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 27px;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    margin-left: 0px;
  }

  .rightContent {
    display: grid;
    align-content: center;
    justify-content: space-around;
    margin-bottom: 57px;
  }

  .mydiv {
    width: 274px;
    height: 359px;
  }

  .mydivAbout {
    width: 274px;
    height: 359px;
  }

  .mydivProjects {
    width: 274px;
    height: 359px;
    background-position-y: -59px;
  }

  .socialMedia {
    z-index: 30;
    margin-bottom: 5%;
    align-items: flex-end;
    display: flex;
    width: 114px;
    padding-bottom: 0px;
    padding-right: 137px;
  }

  .mydivEducation {
    width: 274px;
    height: 359px;
  }

  .mydivContact {
    width: 274px;
    height: 359px;
  }

  .git {
    background-image: url(../social-media/bxl-github.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 37px;
    height: 37px;
  }

  .linkedin {
    width: 37px;
    height: 37px;
    background-image: url(../social-media/bxl-linkedin.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .whatsapp {
    width: 37px;
    height: 37px;
    background-image: url(../social-media/bxl-whatsapp.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (max-width: 991px) {
  .nav-link-active {
    color: #010101;
  }

  .navbar-dark .navbar-toggler {
    color: transparent;
    border-color: transparent !important;
  }
}
/* // Medium devices (tablets, less than 992px) */
@media (min-width: 769px) {
  .leftContent {
    justify-items: center;
  }

  .mainTittle {
    width: 366px;
    margin-left: 0px;
  }

  .mainTittleAbout {
    width: 366px;
    margin-left: 0px;
  }

  .mainTittleProjects {
    width: 366px;
    margin-left: 0px;
  }

  .mainTittleEducation {
    width: 366px;
    margin-left: 0px;
  }

  .mainText {
    margin-left: 0px;
    width: 350px;
  }

  .mainTextAbout {
    margin-left: 0px;
    width: 350px;
  }

  .mainTextProjects {
    margin-left: 0px;
    width: 350px;
  }

  .mainTextEducation {
    margin-left: 0px;
    width: 350px;
  }

  .mainTextContact {
    margin-left: 0px;
    width: 350px;
  }

  .ListProjects {
    margin-left: 85px;
  }

  .mainSubtittle {
    margin-left: 0px;
  }

  .mainSubtittleAbout {
    margin-left: 0px;
  }

  .mainSubtittleProjects {
    margin-left: 0px;
  }

  .mainSubtittleEducation {
    margin-left: 0px;
  }

  .google1 {
    width: 190px;
    height: 100px;
  }

  .google2 {
    width: 190px;
    height: 100px;
  }

  .mydiv {
    width: 340px;
    height: 607px;
  }

  .mydivAbout {
    width: 340px;
    height: 607px;
  }

  .mydivProjects {
    width: 340px;
    height: 607px;
  }

  .mydivEducation {
    width: 340px;
    height: 607px;
  }

  .socialMedia {
    z-index: 30;
    width: 177px;
    height: 59px;
    display: flex;
    padding-bottom: 114px;
    padding-right: 30px;
  }

  .form-contact {
    width: 70%;
    height: 490px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 50px;
  }

  .mydivContact {
    width: 340px;
    height: 607px;
  }

  .form-contact h4 {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .controls {
    width: 100%;
    height: 70px;
    margin-bottom: 15px;
    font-size: 15px;
  }

  .butons {
    margin-top: 5px;
    font-size: 13px;
    height: 50px;
  }
}
/* // Large devices (desktops, less than 1200px) */
@media (min-width: 1200px) {
  .leftContent {
    justify-items: start;
  }

  .mainTittle {
    width: 366px;
    margin-left: 0px;
    margin-left: 190px;
  }

  .mainTittleAbout {
    width: 366px;
    margin-left: 0px;
    margin-left: 190px;
  }

  .mainTittleProjects {
    width: 366px;
    margin-left: 0px;
    margin-left: 190px;
  }

  .mainTittleEducation {
    width: 366px;
    margin-left: 0px;
    margin-left: 190px;
  }

  .mainText {
    margin-left: 0px;
    width: 350px;
    margin-left: 190px;
  }

  .mainTextAbout {
    margin-left: 0px;
    width: 350px;
    margin-left: 190px;
  }

  .mainTextProjects {
    margin-left: 0px;
    width: 350px;
    margin-left: 190px;
  }

  .mainTextEducation {
    margin-left: 0px;
    width: 350px;
    margin-left: 190px;
  }

  .mainSubtittle {
    margin-left: 190px;
  }

  .mainSubtittleAbout {
    margin-left: 190px;
  }

  .mainSubtittleProjects {
    margin-left: 190px;
  }

  .mainSubtittleEducation {
    margin-left: 190px;
  }

  .ListProjects {
    margin-left: 270px;
  }

  .google1 {
    width: 300px;
    height: 200px;
  }

  .google2 {
    width: 300px;
    height: 200px;
  }

  .mydiv {
    width: 450px;
    height: 714px;
  }

  .mydivAbout {
    width: 450px;
    height: 714px;
  }

  .mydivProjects {
    width: 450px;
    height: 714px;
  }

  .mydivEducation {
    width: 450px;
    height: 714px;
  }

  .socialMedia {
    z-index: 30;
    width: 177px;
    height: 59px;
    display: flex;
    padding-right: 200px;
  }

  .buton {
    margin-left: 200px;
  }

  .form-contact {
    height: 580px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 50px;
  }

  .mydivContact {
    width: 450px;
    height: 714px;
  }

  .form-contact h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .controls {
    width: 100%;
    height: 75px;
    margin-bottom: 15px;
    font-size: 15px;
  }

  .butons {
    margin-top: 5px;
    font-size: 20px;
    height: 80px;
  }
}

/*# sourceMappingURL=style.css.map */
